<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="testServer" type="System.Configuration.NameValueSectionHandler"  />
    <section name="prodServer" type="System.Configuration.NameValueSectionHandler"  />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="connection" value="testServer"/>
  </appSettings>
  <testServer>
    <add key="user" value="C:\data\test\user.yap" />
    <add key="amexday" value="C:\data\test\amexday.yap" />
    <add key="nyseday" value="C:\data\test\nyseday.yap" />
    <add key="nasdaqday" value="C:\data\test\nasdaqday.yap" />
    <add key="company" value="C:\data\test\company.yap" />
    <add key="system" value="C:\data\test\system.yap" />
  </testServer>
  <prodServer>
    <add key="user" value="C:\data\user.yap" />
    <add key="amexday" value="C:\data\amexday.yap" />
    <add key="nyseday" value="C:\data\nyseday.yap" />
    <add key="nasdaqday" value="C:\data\nasdaqday.yap" />
    <add key="company" value="C:\data\company.yap" />
    <add key="system" value="C:\data\system.yap" />
  </prodServer>
</configuration>